<template>
  <div class="container">
    <todo-create
        @new-todo="addTodo($event)"
    >
    </todo-create>
    <h2>
      Список задач
    </h2>
    <todo-list>
      <todo
          v-for="(todo, i) in todos"
          :key="i"
          :completed="todo.completed"
          :task="todo.task"
          @toggle="toggleTodo(todo)"
          @delete="deleteTodo(i)"
      >
      </todo>
    </todo-list>
  </div>
</template>

<script>
import axios from 'axios';
import TodoCreate from "@/components/TodoCreate";
import Todo from "@/components/Todo";
import TodoList from "@/components/TodoList";

export default {
  name: "Home",
  components: {TodoList, Todo, TodoCreate},
  data(){
    return{
      todos: []
    }
  },
  created() {
    this.getTodos()
  },
  methods: {
    getTodos(){
      axios.get('TODOList.json').then( r => this.todos = r.data)
    },
    addTodo(newTodo) {
      this.todos.unshift({ task: newTodo, completed: false });
    },
    toggleTodo(todo) {
      todo.completed = !todo.completed
    },
    deleteTodo(index) {
      this.todos.splice(index, 1);
    },
  }
}
</script>

<style scoped>
  .container{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
</style>