<template>
  <form class="new-todo" @submit.prevent="addTodo()">
    <todo-input placeholder="Добавить новую задачу" type="text" @value="newTodo = $event"/>
    <todo-button type="input-button" icon="fa-plus"/>
  </form>
</template>

<script>
import TodoButton from "@/components/ui/todoButton";
import TodoInput from "@/components/ui/todoInput";
export default {
  name: "TodoCreate",
  components: {TodoInput, TodoButton},
  data() {
    return {
      newTodo: ""
    };
  },
  methods: {
    addTodo() {
      if (this.newTodo.length > 0) {
        this.$emit("new-todo", this.newTodo);
      }
    }
  }
};
</script>

<style scoped>
  .new-todo{
    display: flex;
  }
</style>