<template>
  <div class="list">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "TodoList"
}
</script>

<style scoped>
  .list{
    max-height: 400px;
    overflow: auto;
  }
</style>