<template>
  <div class="todo">
    <todo-checkbox :checked="completed" :text="task" @checked="$emit('toggle')"/>
    <todo-button type="delete" icon="fa-trash" @delete="$emit('delete')"/>
  </div>
</template>

<script>
import TodoButton from "@/components/ui/todoButton";
import TodoCheckbox from "@/components/ui/todoCheckbox";
export default {
  name: "Todo",
  components: {TodoCheckbox, TodoButton},
  props: {
    task: String,
    completed: Boolean
  },
}
</script>

<style scoped>
  .todo {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid var(--todo-border-color);
    font-size: 18px;
  }
</style>