<template>
  <div id="app">
    <home></home>
  </div>
</template>

<script>
import Home from "@/components/Home";

export default {
  name: 'App',
  components: {
    Home,
  }
}
</script>

<style>
  @import "../src/assets/css/colorVariables.css";
  body{
    margin: 0;
    background: var(--main-bg-color);
  }
  #app {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    color: var(--main-text-color);
  }
  button {
    cursor: pointer;
    opacity: 0.8;
  }
  button:hover {
    opacity: 1;
  }
  button, input {
    box-shadow: none;
    outline: none;
  }
</style>