<template>
  <input
      v-model="value"
      :type="type"
      :placeholder="placeholder"
      class="input"
      @input="$emit('value', value)"
  />
</template>

<script>
export default {
  name: "todoInput",
  props: {
    type: String,
    placeholder: String,
  },
  data() {
    return {
      value: '',
    }
  },
}
</script>

<style scoped>
  .input{
    flex: 1;
    border: 2px solid grey;
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    background: transparent;
    height: 48px;
    padding: 5px 15px;
    color: inherit;
    font-size: 18px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

</style>