<template>
  <button :class="type" @click="$emit(type)">
    <i class="fas" :class="icon"></i>
  </button>
</template>

<script>
export default {
  name: "todoButton",
  props: {
    type: String,
    icon: String,
  }
}
</script>

<style scoped>
  .delete {
    padding: 5px 10px;
    background: var(--delete-button-color);
    color: inherit;
    margin-left: auto;
    border: none;
    border-radius: 5px;
  }
  .input-button {
    width: 15%;
    border: 2px solid grey;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: none;
    background: var(--submit-button-color);
    color: inherit;
  }
</style>