<template>
  <label class="checkbox" :class="{ disabled: checked }" @click.prevent="$emit('checked')">
    {{text}}
    <input type="checkbox" :checked="checked">
    <span class="checkmark"></span>
  </label>
</template>

<script>
export default {
  name: "todoCheckbox",
  props: {
    checked: Boolean,
    text: String,
  }
}
</script>

<style scoped>
  @import "../../assets/css/checkbox.css";
  .disabled {
    opacity: .4;
  }
</style>